body {
    background-color: #9B3922;
    color: azure;
}

h1 {
    color: black;
    font-size: 5em;
    font-style: italic;
}

#container {
    /* border: yellowgreen; */
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
}

#header {
    /* border: black solid 4px; */
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#summary {
    /* border: black solid 4px; */
    width: 75%;
    height: 700px;

}

#summary, #wccc_edu > h2 {
    text-align: center;
    font-style: italic;

}

#title {
    
    width: 75%;
    height: 100%;

   
}

#portfolio_img {
    /* border: green solid 4px; */
    margin-top: 40px;
    margin-right: 150px;
    width: 300px;
    height: 300px;
    align-items: flex-end;
    
}

#portfolio_img > img {
    border-radius: 50%;
}



#summary {
    color: azure;
    /* border: yellowgreen solid 4px; */
    width: 100%;
    height: 90%;
}

#education {
    width: 100%;
    height: 300px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#wccc > img {
    /* border: black solid 4px; */
    border-radius: 15%;
    
}

#wccc_edu {
    /* border: black solid 4px; */
    padding: 15px 50px 15px 50px;
    align-items: center;
    
}


